#title{
    text-align: center;
    font-size: 5rem;
    padding: 15px;
    font-family: sans-serif;
    background: linear-gradient(90deg, #f9fd01 0%, #92FE9D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

html{
    font-family: sans-serif;
    background-color: rgb(22, 22, 22);
    color: #f9fd01;
}

.box{
    height: 15rem;
    width: 5rem;
    border: solid #f9fd01;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

fieldset{
    display: inline-block;
    margin-bottom: 10px;
    padding: 25px;
    border: 1px solid #f9fd01;
}

form{
    text-align: center;
}

#save{
    display: block;
    margin: 0 auto;
    padding: 5px;
}